.tabBar{
	height: 1.5625rem;
	width: 10rem;
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	text-align: center;
	justify-content :space-around;
	background: #fff;
}
.tabBar a img{
	width: 1.0rem;
	height: 1.0rem;
}
.tabBar a p{
	font-size: 0.222222rem;
	line-height: 0.416667rem;
	text-align: center;
}
.class1{
	/*background-color: yellow;*/
	/* calc运算函数 */
	height: calc(100% - 1.222222rem);
}

/* footer隐藏时候的样式 */
.class2{
	/*background-color: orange;*/
	height: 100%;
}