<link rel="stylesheet" type="text/css" href="/shopCollect/css/shopCollectFst.css"/>
<link rel="stylesheet" type="text/css" href="../libs/reset.css"/>
<div class="goodsCollect">
	<h4 class="startBuy"><hr /><span>正在开枪</span><hr /></h4>
	<div class="goodsCollect">
<!-- 		<a href="" class="goods" >
			<div class="goodsImg"><img src="https://s2.juancdn.com/bao/170304/b/8/58ba7bc5151ad1b26c8b4581_800x800.jpg?iopcmd=thumbnail&type=8&width=310&height=310%7Ciopcmd=convert&Q=88&dst=jpg"/></div>
			<div class="goodsInfo">
				<div class="goodsPrice"><span class="newPrice">34</span><span class="oldPrice"><del>45</del></span><span class="day">剩两天</span></div>
				<div class="goodsName">榛仁巧克力糖(250g)</div>
				<div class="btn" ng-click="addGoods()">加入购物车</div>                                       
			</div>
		</a> -->
		
		<a href="" class="goods" ng-repeat="item in data track by $index">
			<div class="goodsImg"><img src="{{ item.pic_url }}"/></div>
			<div class="goodsInfo">
				<div class="goodsPrice"><span class="newPrice">{{ item.cprice }}</span><span class="oldPrice"><del>{{ item.oprice }}</del></span><span class="day">剩两天</span></div>
				<div class="goodsName">{{ item.title }}</div>
				<div class="btn" ng-click="addGoods()">加入购物车</div>
			</div>
		</a>
	</div>
</div>