<link rel="stylesheet" type="text/css" href="../libs/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="/shopCollect/css/shopCollect.css"/>

<div class='hr'></div>
		<div class="shop col-sm-12 col-xs-12 clearPadding" ng-switch on ="">
			<div class="shopLogo borderBottom">
				<div class="logoImg col-sm-3 col-xs-3 clearPadding"><img src="https://s2.juancdn.com/bao/170223/5/0/58ae7802151ad1207e8b4567_180x90.png?iopcmd=convert&dst=png"/></div>
				<div class="shopDetails  col-sm-9 col-xs-9 ">
					<p class="shopName">冰娜丝俄罗斯小店</p>
					<p class="sellWay">
						<span>店铺发货</span>
						<span>工厂直销</span>
					</p>
				</div>
			</div>
			<div class="shopSpecial">
				<div class="specialLogo ">
					<p class="col-sm-12 col-xs-12 clearPadding">
						<span class="col-xs-2 col-sm-2 clearPadding">新上架</span>
						<span class="col-xs-8 col-sm-2 ">俄罗斯糖果巧克力专场</span>
						<span class="col-xs-2 col-sm-2 clearPadding"><a ng-click='showShop()'></a></span>
					</p>
					<p class="col-sm-12 col-xs-12 clearPadding">满2件9折</p>
					<p class=" col-sm-12 col-xs-12 clearPadding">
						<a href="" class="goodsScroll">
						<span class="col-xs-3 col-sm-3 clearPadding"><img src="https://s2.juancdn.com/bao/170304/b/8/58ba7bc5151ad1b26c8b4581_800x800.jpg?iopcmd=thumbnail&type=8&width=310&height=310%7Ciopcmd=convert&Q=88&dst=webp"/></span>
						<span class="col-xs-3 col-sm-3 clearPadding"><img src="https://s2.juancdn.com/bao/170304/c/4/58ba75ca151ad1c4468b45ef_800x800.jpg?iopcmd=thumbnail&type=8&width=310&height=310%7Ciopcmd=convert&Q=88&dst=webp"/></span>
						<span class="col-xs-3 col-sm-3 clearPadding"><img src="https://s2.juancdn.com/bao/170304/c/0/58ba7801151ad12e6e8b4570_800x800.jpg?iopcmd=thumbnail&type=8&width=310&height=310%7Ciopcmd=convert&Q=88&dst=webp"/></span>
						<span class="col-xs-3 col-sm-3 clearPadding"><img src="https://s2.juancdn.com/bao/170304/8/0/58ba7612db01d98b7e8b4596_800x800.jpg?iopcmd=thumbnail&type=8&width=310&height=310%7Ciopcmd=convert&Q=88&dst=webp"/></span>
						</a>
					</p>
				</div>
				<div class="more borderTop col-sm-12 col-xs-12">展示更多</div>
			</div>
			<div class='hr col-sm-12 col-xs-12'></div>	
		</div>
		
		<div class="shop col-sm-12 col-xs-12 clearPadding" ng-repeat='item in data track by $index'>
			<div class="shopLogo borderBottom">
				<div class="logoImg col-sm-3 col-xs-3 clearPadding"><img src="https://s2.juancdn.com/bao/170223/5/0/58ae7802151ad1207e8b4567_180x90.png?iopcmd=convert&dst=png"/></div>
				<div class="shopDetails  col-sm-9 col-xs-9 ">
					<p class="shopName">{{ item.shopName }}小店</p>
					<p class="sellWay">
						<span>店铺发货</span>
						<span>工厂直销</span>
					</p>
				</div>
			</div>
			<div class="shopSpecial">
				<div class="specialLogo ">
					<p class="col-sm-12 col-xs-12 clearPadding">
						<span class="col-xs-2 col-sm-2 clearPadding">新上架</span>
						<span class="col-xs-8 col-sm-2 ">{{ item.shopName }}</span>
						<span class="col-xs-2 col-sm-2 clearPadding"><a ng-click='showShop()'>进入</a></span>
					</p>
					<p class="col-sm-12 col-xs-12 clearPadding">满2件9折</p>
					<p class=" col-sm-12 col-xs-12 clearPadding">
						<a href="" class="goodsScroll">
						<span class="col-xs-3 col-sm-3 clearPadding"  ng-repeat='tempItem in item.shop_goods' ng-click='showGoods()'><img src="{{ tempItem.pic_url }}"/></span>
						</a>
					</p>
				</div>
				<div class="more borderTop col-sm-12 col-xs-12">展示更多</div>
			</div>
			<div class='hr col-sm-12 col-xs-12'></div>	
		</div>