.header{
	width: 10rem;
	height: 1.4rem;
	text-align: center;
	line-height: 1.4rem;
	position: relative;
	border-bottom: 2px solid #e9e9e9; 
}
.header img{
	position: absolute;
	left: 0.277778rem;
	top: 0.4rem;
	width: 0.6rem;
	height: 0.6rem;
}
.header input {
	width: 7rem;
	height: 0.8rem;
	text-indent: 0.208333rem;
}
.goods_list{
	width: 10rem;
	margin-top: 0.416667rem;
}
.goods_list figure{
	width: 100%;
	height: 2.777778rem;
	margin-bottom: 0.694444rem;
	border-bottom: 0.027778rem solid #e9e9e9;
}
.goods_list figure img{
	width: 1.708333rem;
	height: 1.708333rem;
	margin:0.138889rem 0.347222rem;
	float: left;
}
.goods_list figcaption{
	float: left;
	width: 7.541667rem; 
}
.goods_list figcaption p:nth-of-type(1){
	font-size: 0.333333rem;
	color: #505050;
	width: 100%;
	margin: 0.138889rem 0 0.1rem;
}
.goods_list figcaption p:nth-of-type(1) b{
	float: right;
	color: red;
	margin-right: 0.416667rem; 
}
.goods_list figcaption p:nth-of-type(2){
	font-size: 0.305556rem;
	color: #aeaeae;
	margin-bottom: 0.208333rem;
}
.goods_list figcaption p:nth-of-type(2) i{
	float: right;
	text-decoration: line-through;
	margin-right: 0.416667rem; 
}
.goods_list figcaption p:nth-of-type(3){
	width: 1.694444rem;
	height: 0.597222rem;
	border: 2px solid #d45065;
	line-height: 0.597222rem;
	text-align: center;
	font-size: 0.361111rem; 
	color: #d45065;
}
