header {
	height: 1.25rem;
	line-height: 1.25rem;
	text-align: center;
	border-bottom: 0.013889rem solid #ebebeb;
}
header p{
	font-size: 0.486111rem;
	font-weight: bold;
}
.bg6{
	height: 0.236111rem;
	background: #f4f4f8;
	width: 10.0rem;
}
.manjian{
	height: 1.041667rem;
	line-height: 1.041667rem;
	width: 10.0rem;
	border-bottom: 0.013889rem solid #eeeeee;
}
.manjian #man1{
	float: left;
	height: 0.347222rem;
	width: 1.027778rem;
	margin: 0.347222rem 0.208333rem 0 0.333333rem;
}
.manjian #man2{
	float: right;
	height: 0.319444rem;
	width: 0.319444rem;
	margin: 0.347222rem 0.333333rem 0 0;
}
.manjian p{
	float: left;
	font-weight: bold;
	font-size: 0.263889rem;
	text-indent:0.555556rem;
}
.manjian p span{
	margin-left: 3.611111rem;
	color: red;
}
.tianjia{
	/*height: 2.430556rem;*/
	width: 10.0rem;
}
.tianjia figure{
	height: 2.430556rem;
}
.tianjia figure img{
	float: left;
	margin: 0.402778rem 0.333333rem 0 0.333333rem;
	height: 1.680556rem;
	width: 1.680556rem;
}
.tianjia figure figcaption{
	float: left;
	margin: 0.402778rem 0 0 0;
	position: relative;
}
.tianjia figure figcaption p:nth-of-type(1) {
	height: 0.319444rem;
	font-weight: bold;
	margin-bottom: 0.222222rem;
	/*letter-spacing: 0.069444rem;*/
}
.tianjia figure figcaption p:nth-of-type(1) span{
	margin-left: 2.777778rem;
}
.tianjia figure figcaption p:nth-of-type(2) {
	height: 0.277778rem;
	color: #e3e3e3;
	margin-bottom: 0.347222rem;
}
.tianjia figure figcaption p:nth-of-type(2) span{
	/*margin-left: 4.305556rem;*/
	float: right;
	/*margin-right: 0.2rem;*/
	text-decoration: line-through;
}
.tianjia figure figcaption p:nth-of-type(3) span{
	display: inline-block;
	margin-right: 0.208333rem;
}
.tianjia figure figcaption p:nth-of-type(3) b{
	display: inline-block;
	height: 0.555556rem;
	width: 0.555556rem;
	background:#f4f4f8;
	text-align: center;line-height: 0.555556rem;
	margin-right: 0.416667rem;
}
.tianjia figure figcaption p:nth-of-type(3) b:nth-of-type(2){
	color: red;
}
.tianjia figure figcaption img{
	height: 0.291667rem;
	width: 0.25rem;
	position: absolute;
	right: 0;
	bottom: 0;
}
.heji{
	margin: 0 0.694444rem;
	height: 1.138889rem;
	line-height: 1.138889rem;
	width: 8.333333rem;
	border-bottom: 0.013889rem solid #ebebeb;
	font-size: 0.361111rem;
	font-weight: bold;
}
.heji p span{
	float: right;
}
.shiy{
	height: 1.152778rem;
	line-height: 1.152778rem;
	font-weight: bold;
	font-size: 0.361111rem;
}
.shiy p{
	margin-left: 0.208333rem;
}
.shiy p span{
	margin-left: 4.625rem;
}
.shiy p img{
	margin-left: 0.291667rem;
	height: 0.319444rem;
	width: 0.319444rem;
}
.bg7{
	height: 6.25rem;
	background: #f4f4f8;
}
.footer1{
	height: 1.138889rem;
	line-height: 1.138889rem;
}
.footer1 li{
	float: left;
	width: 5.0rem;
}
.footer1 li:nth-of-type(1){
	font-size: 0.416667rem;
	font-weight: bold;
	text-indent: 1.5rem;
}
.footer1 li:nth-of-type(1) span{
	color: red;
}
.footer1 li:nth-of-type(2){
	font-size: 0.416667rem;
	font-weight: bold;
	color: white;
	background: red;
	text-align: center;
	border-bottom: 0.013889rem solid #ebebeb;
}





















.banner{
	height: 4.791667rem;
}
.banner img{
	height: 3.472222rem;
	width: 3.847222rem;
	margin: 0.833333rem 3.166667rem 0 3.166667rem;
}
.love{

}
.love p:nth-of-type(1){
	font-size: 0.486111rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 0.402778rem;
}
.love p:nth-of-type(2){
	font-size: 0.486111rem;
	font-weight: bold;
	text-align: center;
	color: #da6e7b;
	border: 0.013889rem solid #da6e7b;
	width: 3.472222rem;
	height: 1.069444rem;
	line-height: 1.069444rem;
	margin-left: 3.333333rem;
	margin-bottom: 0.694444rem;
}
.guess{
	width: 10.0rem;
}

.guess>p{
	height: 1.069444rem;
	line-height: 1.069444rem;
	text-align: center;
	font-weight: bold;
	font-size: 0.486111rem;
	background: #f4f3f8;
}
.guess figure{
	height: 6.319444rem;
	width: 4.944444rem;
	float: left;
	margin-bottom: 0.138889rem;
}
.guess figure img{
	height: 5.069444rem;
	width: 4.944444rem;
}
.guess .fig figure:nth-of-type(odd){
	border-right: 0.069444rem solid #f7f5f8;
	margin-right: 0.055556rem;
}
.guess figure figcaption {
	line-height: 0.555556rem;
	font-size: 0.347222rem;
	margin-left: 0.208333rem;
}
.guess figure figcaption p:nth-of-type(1) span{
	color: #fe9bad;
	margin-right: 0.166667rem;
}
.guess figure figcaption p:nth-of-type(1) b{
	color: #e4e4e4;
	margin-left: 0.166667rem;
	font-size: 0.222222rem;
	font-weight: normal;
	text-decoration: line-through;
}
.guess figure figcaption p:nth-of-type(1) i{
	color: #e4e4e4;
	margin-left: 0.166667rem;
	font-size: 0.222222rem;
	font-style: normal;
	float: right;
	margin-right: 0.138889rem;
}
.guess figure figcaption p:nth-of-type(2){
	font-weight: bold;
	font-size: 0.319444rem;
}
